[Unit]
Description = Sytem maintenance service, a service to handle hw.json file
Wants   = owasysd-pmsrv-ready.service
After   = owasysd-pmsrv-ready.service

[Service]
ExecStart   =   /usr/bin/system_maintenance.sh

[Install]
Alias       =   owasysd-system-maintenance.service
WantedBy    =   owasysd-boot-check.Service
