[Unit]
Description = Handles hw.json file
After       = owasysd-pmsrv-ready.service

[Service]
ExecStart   = /usr/bin/manage-hw-file.sh

[Install]
WantedBy    = multi-user.target
Alias       = owasysd-manage-hw-file.service

