[Unit]
Description = Owasys service to tell if the boot was good. This service is triggered by owasysd-boot-check.timer and reboots the system in case of failure.
After       = owasysd-pmsrv-ready.service owasysd-system-maintenance.service local-fs.target systemd-modules-load.service
OnSuccess   = rauc-mark-good.service
OnFailure   = systemd-reboot.service

[Service]
ExecStart   = /usr/bin/check-boot-operations.sh

[Install]
WantedBy    = rauc-mark-good.Service