[Unit]
Description     = tb_commands.sh, which runs at boot
Wants           = pmsrv.service redis-server.service
After           = syslog.service pmsrv.service redis-server.service
StopWhenUnneeded= no
PartOf          = pollux.target

[Service]
ExecStart       = /home/scripts/tb_commands.sh
ExecStop        = /bin/kill -s TERM $MAINPID
ExecStartPost   = /bin/sh -c 'umask 022; /usr/bin/pgrep -fo tb_commands.sh > /var/run/tb_commands.pid'
PIDFile         = /var/run/tb_commands.pid
Restart         = on-failure
RestartSec      = 60

[Install]
WantedBy    = pollux.target
