[Unit]
Description=One shot service that resizes /data and /data_backup partitions at first system boot.
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/expand_data_partitions.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
