[Unit]
Description=System gets time out from the RTC
After=pmsrv.service

[Service]
ExecStart=/usr/bin/sync-time-rtc.sh

[Install]
WantedBy=multi-user.target
