[Unit]
Description=One shot service that runs a one time runnable service.
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/first-boot-operations.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
