[Unit]
Description     = polluxc-tb, which runs at boot
Wants            = owasysd-pmsrv-ready.service redis.service
After            = syslog.target owasysd-pmsrv-ready.service network.target redis.service
StopWhenUnneeded= no
PartOf          = pollux.target

[Service]
ExecStart       = /usr/bin/polluxc-tb --start -D6
ExecStop        = /usr/bin/polluxc-tb -q
Restart         = on-failure
RestartSec      = 60
StandardOutput  = null
StandardError   = null

[Install]
WantedBy        = pollux.target
Alias           = owasysd-polluxc-tb.service

