
[Unit]
Description     = Systemd services used for powering up Wifi/BLE module on boot using Owasys tools
After           = owasysd-pmsrv-ready.service network.target syslog.target

[Service]   
Type            = oneshot 
RestartSec      = 10     
Restart         = on-failure
StartLimitBurst = 2
ExecStartPre    = /bin/sleep 2
ExecStartPre    = /usr/bin/Start_BT_WiFi 1
ExecStartPre    = /bin/sleep 5
ExecStartPre    = /usr/sbin/wpa_supplicant -B w -D nl80211  -i mlan0 -c /etc/wpa_supplicant.conf
ExecStartPre    = /bin/sleep 10
ExecStart       = /sbin/udhcpc -i mlan0
StandardOutput  = journal
         
[Install]                 
WantedBy        = multi-user.target