[Unit]
Description      = pollux-net service
Wants            = owasysd-pmsrv-ready.service redis.service
After            = syslog.target owasysd-pmsrv-ready.service network.target redis.service
StopWhenUnneeded = no
#ConditionPathExists=!/var/lock/owaapi.lck
StartLimitInterval  = 5min
StartLimitBurst     = 2
StartLimitAction    = reboot

[Service]
ExecStartPre= /bin/mkdir -p /var/log/pollux
ExecStartPre= /bin/sleep 2
ExecStart   = /usr/bin/pollux-net --start
ExecStop    = /usr/bin/pollux-net -q
StandardOutput  = null
StandardError   = null

# In case if it gets stopped, restart it immediately
Restart     = on-failure
RestartSec  = 300

[Install]
WantedBy= multi-user.target
Alias=owasysd-polluxnet.service

