[Unit]
Description     = odm-edge, which runs at boot

[Service]
ExecStart       = /usr/bin/odm-edge
Restart         = on-failure
RestartSec      = 60
StandardOutput  = null
StandardError   = null

[Install]
WantedBy        = multi-user.target
Alias           = owasysd-odm-edge.service

